body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* background-image: url(/pictures/micky-mouse.jpg); */
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header {
    text-align: center;
    color: black;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 650px;
    height: 800px;
    background: whitesmoke;
    box-shadow: 15px 15px 15px #0c0c0c;
    border-radius: 2.5em;
    position: relative;
}

.score-header{
    text-align: center;
    color: Red;
    margin: 0;
}

.display{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
    align-items: center; 

}

.player-selection{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

button{
    width: 10em;
    height: 5em;
}

.score{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    gap: 20px; 
    font-size: 30px;
    width: 100%;
}

.player, 
.computer {
    display: flex;
    gap: 10px;
}

.container img{
    mix-blend-mode: multiply;
}


#gh-logo {
    width: 50px;
    mix-blend-mode: multiply;
    vertical-align: middle;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    text-decoration: none;
}

a{
    color: black;
}


.display img {
    width: 200px !important;
    height: 200px !important;
    object-fit: contain !important;
}

#retry-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#vs{
    font-size: 4em;
    color: red;
    font-weight: bolder;
}